apiVersion: apps/v1
kind: Deployment
metadata:
  name: express-app
  namespace: express
spec:
  replicas: 2
  selector:
    matchLabels:
      app: express
  template:
    metadata:
      labels:
        app: express
    spec:
      containers:
        - name: express
          image: k8s-express:1.1.0
          ports:
            - containerPort: 3000
